body {
  background-image: url(/assets/img/fundoo.jpg);
  backdrop-filter: blur(6px);
  background-size:cover; 
  }
.card {
  cursor: pointer;
  margin-bottom: 15px;
}

.card:hover {
background-color: rgb(105, 98, 98) !important; 

}
.form-container {
  flex-direction: column;
  height: 94vh; 
  }

.container {
  margin-top: 25px; 
}
.main{
  padding: 150px;
}